---
	
import * as Plot from "@observablehq/plot";
import { JSDOM } from "jsdom";
const { options } = Astro.props;

const plot = Plot.plot({ ...options, document: new JSDOM("").window.document });

Plot.dot(penguins, {x: "culmen_length_mm", y: "culmen_depth_mm"}).plot()
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>







	


<div set:html={plot.outerHTML} />


	</body>
</html>
