---
	import PlotFigure from "../components/PlotFigure.astro";
	import penguins from "../assets/penguins.json";
	import * as Plot from "@observablehq/plot";

---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1> Exemple avec les penguins </h1>	


<!-- // schéma 1 //  --> 		

<PlotFigure
      options={{
        marks: [
         Plot.dot(penguins, {x: "culmen_length_mm", y: "culmen_depth_mm"})
        ]
      }}
    />




<!-- // schéma 2 //  --> 	



	<h1> Deuxième exemple  </h1>	 


<PlotFigure
      options={{
        marks: [
   Plot.dot(penguins, {x: "culmen_length_mm", y: "culmen_depth_mm", stroke: "species"})
        ]
      }}
    />





	</body>
</html>


